<div class="container">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <footer class="footer">
    <small>
      Copyright © <a href="enter in a link here">The Complete Rails App Template</a>
      by <a href="enter in a link here">Malcolm Collins</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", new_tweet_path %></li>
      </ul>
    </nav>
  </footer>
</div>
